/* logo */
.main-logo {
    height: 60px;
}

/*primary color*/
.bg-cream {
    background-color: #051023;
}

.bg-tail {
    background-color: #263144;
}

/*font*/
body {
    font-family: 'Poppins', sans-serif;
}

.text-darken {
    color: #4F52A1!important;
}

.bg-yellow-500 {
    background-color: #F48C06;
}
.text-yellow-500 {
    color: #F48C06;
}
.text-white-50 {
    color: rgba(255, 255, 255, 0.7);
}
.nav-hover:hover{
    color: rgba(255, 255, 255, 0.7);
}
.floating { 
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
} 
.floating-4 { 
    animation-name: floating; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating-4 { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
}
.text-darken {
    color: #2F327D;
}
